In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
movies = movies.drop(['genres'],axis =1)
movies

       movieId                               title
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

[62423 rows x 2 columns]

In [5]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [6]:
ratings = ratings.drop(['timestamp'],axis = 1)
ratings

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[25000095 rows x 3 columns]

In [7]:
print(movies.shape)
print(ratings.shape)

(62423, 2)
(25000095, 3)

In [8]:
movies.isnull().sum()

movieId    0
title      0
dtype: int64

In [9]:
ratings.isnull().sum()

userId     0
movieId    0
rating     0
dtype: int64

In [10]:
movies.duplicated().sum()

0

In [11]:
ratings.duplicated().sum()

0

In [12]:
ratings_with_name = ratings.merge(movies,on='movieId')
ratings_with_name

          userId  movieId  rating                         title
0              1      296     5.0           Pulp Fiction (1994)
1              3      296     5.0           Pulp Fiction (1994)
2              4      296     4.0           Pulp Fiction (1994)
3              5      296     4.0           Pulp Fiction (1994)
4              7      296     4.0           Pulp Fiction (1994)
...          ...      ...     ...                           ...
25000090  162358   200192     2.0   Den frusna leoparden (1986)
25000091  162358   200194     2.0             Tough Luck (2004)
25000092  162386   139970     3.5  I Don't Speak English (1995)
25000093  162386   200726     4.0          The Graduates (1995)
25000094  162386   200728     4.0    Il pesce innamorato (1999)

[25000095 rows x 4 columns]

In [13]:
# num_rating_df = ratings_with_name.groupby('title').count()['rating'].reset_index()
# num_rating_df.rename(columns = {'rating' :'num_rating'},inplace = True)

In [14]:
ratings_with_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
 3   title    object
dtypes: float64(1), int64(2), object(1)
memory usage: 762.9+ MB

In [15]:
x = ratings_with_name.groupby('userId').count()['rating']>=250
mature = x[x].index

In [16]:
filtered_rating = ratings_with_name[ratings_with_name['userId'].isin(mature)]
y = filtered_rating.groupby('title').count()['rating']>=25
famous_movies = y[y].index

In [17]:
final_ratings = filtered_rating[ filtered_rating['title'].isin(famous_movies)]
pt = final_ratings.pivot_table(index = 'title', columns = 'userId',values = 'rating')

In [18]:
pt.fillna(0,inplace = True )
pt

userId,3,12,13,19,23,31,43,57,59,61,...,162493,162495,162508,162512,162516,162519,162521,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
À nos amours (1983),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À propos de Nice (1930),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Он вам не Димон (2017),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Я худею (2018),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
similarity_score = cosine_similarity(pt)

In [21]:
similarity_score

array([[1.        , 0.00686195, 0.00144066, ..., 0.01830541, 0.        ,
        0.        ],
       [0.00686195, 1.        , 0.03017449, ..., 0.10278027, 0.        ,
        0.        ],
       [0.00144066, 0.03017449, 1.        , ..., 0.05178868, 0.        ,
        0.        ],
       ...,
       [0.01830541, 0.10278027, 0.05178868, ..., 1.        , 0.04390135,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.04390135, 1.        ,
        0.33385503],
       [0.        , 0.        , 0.        , ..., 0.        , 0.33385503,
        1.        ]])

In [22]:
def recommend(movie_title):
    
    index = np.where(pt.index == movie_title)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key = lambda x:x[1],reverse = True)[1:6]

    for i in similar_items:
        print(pt.index[i[0]])

In [23]:
import pickle

In [24]:
movies

       movieId                               title
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

[62423 rows x 2 columns]

In [25]:
print(movies['title'])

0                          Toy Story (1995)
1                            Jumanji (1995)
2                   Grumpier Old Men (1995)
3                  Waiting to Exhale (1995)
4        Father of the Bride Part II (1995)
                        ...
62418                             We (2018)
62419             Window of the Soul (2001)
62420                      Bad Poems (2018)
62421                   A Girl Thing (2001)
62422        Women of Devil's Island (1962)
Name: title, Length: 62423, dtype: object

In [26]:
movies['title'] = movies['title'].str.replace(r'\s*\(\d{4}\)$', '', regex=True)

In [27]:
movies['title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
62418                             We
62419             Window of the Soul
62420                      Bad Poems
62421                   A Girl Thing
62422        Women of Devil's Island
Name: title, Length: 62423, dtype: object

In [28]:
pickle.dump(movies,open('movie_list.pkl','wb'))
pickle.dump(similarity_score,open('similarity.pkl','wb'))